<h1 style="margin-left: 40%;">DATA ENGINEERING</h1>
<br><br>
<img src="da.jpeg" width="50%">
<div class="da">
<p>Digital engineering is the art of creating, capturing and integrating data using a digital skillset. As an integrated digital approach, digital engineering enables engineers to explore possibilities and develop innovative solutions in a virtual environment.

</p>
</div>
<button type="button" class="btn btn-outline-primary" style="font-size: 25px; margin-left: 15px;">Office</button>
<button type="button" class="btn btn-outline-Danger" style="font-size: 25px; margin-left: 50px;">security</button>
<button type="button" class="btn btn-outline-warning" style="font-size: 25px; margin-left: 50px;">highligths</button>

<br>
<p style="font-size:25px; display: inline-block;margin: 0%;">The rise in demand for digital engineering marks a significant milestone in the evolution of technology and industry. Emphatically underscoring the increasing demand for digital engineering expertise. As we look to the future, the role of digital engineering will only grow.<img src="da2.png" style="width: 50%; margin:0%;display: inline;"></p>

